.table__css {
  border: 1px solid;
  border-collapse: collapse;
  height: 900px;
}

.table__css th{
  border: 1px solid;
  padding-right: 300px;
}
.table__css td{
  border: 1px solid;
  text-align: center;
}

.table__css2 {
  border: 1px solid;
  border-collapse: collapse;
  height: 200px;
}

.table__css2 th{
  border: 1px solid;
  padding-right: 300px;
}
.table__css2 td{
  border: 1px solid;
  text-align: center;
}

.control_button button{
  transition-duration: 0.5s;
}

